.editor-division{
    display: flex;
}
.content-row{
    flex-wrap: nowrap;
    display: flex;
    justify-items: space-evenly;
    margin:2px 2px 2px 2px;
}
.row{
    flex-wrap: nowrap;
    overflow-y: scroll;
}
.hammer {
    color: #c4c4c4;
    transition: color 0.3s;
}
.hammer:hover {
    color: #000000;
}